{% extends 'base.html' %}
{% load i18n %}
{% block title %}
    {% if car %}
        {{ car }} {% trans 'Drift Chassis' %}
    {% else %}
        {% trans 'Drift Cars Chassis By Brand' %}
    {% endif %}
{% endblock %}
{% block body %}
<div class="post-header-container">
    {% if car %}
    <h1>{{ car }} {% trans 'Drift Chassis' %}</h1>
    {% else %}
    <h1>{% trans 'Drift Car Chassis By Brand' %}</h1>
    {% endif %}
    <div class="car-list">
        <ul>
            {% for car_list_item in car_list %}
                {% if car_list_item.brand %}
                    <li><a href="{% url 'car_model_detail' car.slug car_list_item.slug %}">{{ car_list_item }}</a></li>
                {% elif car_list_item.car_model %}
                    <li><a href="{% url 'car_sub_model_detail' car.brand.slug car.slug car_list_item.slug %}">{{ car_list_item }}</a></li>
                {% else %}
                    <li><a href="{% url 'car_brand_detail' car_list_item.slug %}">{{ car_list_item }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="car-setups">
        <div class="setup-list-container">
        {% if setups %}
        <ul class="setup-list">
            {% for setup in setups %}
                <li class="setup-list-item">
                    <div class="setup-list-item-image-container">
                        <a href="{% url 'setup_detail' setup.slug %}">
                            {% if setup.get_main_image %}
                                <img width="300px" src="{{ setup.get_main_image }}" alt="{{ setup }}">
                            {% else %}
                                <img width="300px" src="https://driftsetups.s3.amazonaws.com/media/no-photos-thumbnail.png" alt="{{ setup }}">
                            {% endif %}
                        </a>
                    </div>
                    <div class="setup-list-item-heading-container">
                        <a href="{% url 'setup_detail' setup.slug %}">
                            <h2>{{ setup }}</h2>
                        </a>
                        <div>
                            <a href="{{ setup.car.get_absolute_url }}">{{ setup.car}}</a>
                            {% trans 'by' %} {{ setup.creator }} {% trans 'updated' %} {{ setup.timestamp|date:"F Y" }}
                        </div>
                        <div class="setup-characteristics-section">
                            <div class="round">
                                {% if setup.power %}
                                <div class="power">{{ setup.power }}hp</div>
                                {% else %}
                                <div class="power">----hp</div>
                                {% endif %}
                                <div class="char-title">{% trans 'Power' %}</div>
                            </div>
                            <div class="round">
                                {% if setup.torque %}
                                <div class="torque">{{ setup.torque }}Nm</div>
                                {% else %}
                                <div class="torque">----Nm</div>
                                {% endif %}
                                <div class="char-title">{% trans 'Torque' %}</div>
                            </div>
                            <div class="round">
                                {% if setup.rev_limit %}
                                <div class="rev-limit">{{ setup.rev_limit }}rpm</div>
                                {% else %}
                                <div class="rev-limit">----rpm</div>
                                {% endif %}
                                <div class="char-title">{% trans 'Rev Limit' %}</div>
                            </div>
                            <div class="round">
                               {% if setup.weight %}
                                <div class="weight">{{ setup.weight }}kg</div>
                                {% else %}
                                <div class="weight">----kg</div>
                                {% endif %}
                                <div class="char-title">{% trans 'Weight' %}</div>
                            </div>
                        </div>
                    </div>
                    <div class="setup-list-item-votes-container">
                        <div class="setup-info-total"><span>{% trans 'votes' %}:</span> {{ setup.get_votes_total }}</div>
                        <div class="votes-bar">
                            <div class="votes-bar-total" style="width:{{ setup.get_votes_percentage }}%"></div>
                        </div>
                        <div class="setup-info-total"><span>{% trans 'views' %}:</span> {{ setup.views }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            {% url 'car_brand_list' as car_brand_list_home_url %}
            {% if request.path != car_brand_list_home_url %}
                <h2 class="no-setups">{% trans 'No setups? You own such car? Be first!' %} <a href="{% url 'setup_create' %}">{% trans 'Create one!!!' %}</a></h2>
            {% endif %}
        {% endif %}
    </div>
    </div>
</div>
{% endblock %}