{% extends 'base.html' %}
{% load i18n %}
{% block title %}{% trans 'Login' %}{% endblock %}
{% block body %}
    <div class="container">
        <div class="login-container">
            <h1>{% trans 'Login' %}</h1>
            <a href="{% url 'social:begin' 'google-oauth2' %}"><div class="google-signup center"><div class="google-signup-icon"></div><div class="google-signup-text">{% trans 'Log in with Google+' %}</div></div></a>
            <a href="{% url 'social:begin' 'facebook' %}"><div class="facebook-signup center"><div class="facebook-signup-icon"></div><div class="facebook-signup-text">{% trans 'Log in with Facebook' %}</div></div></a>
            <div class="center">{% trans 'or' %}</div>
            <div class="login-form">
                <form action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    <input class="center" type="email" name="username" id="id_username" maxlength="254" required autofocus placeholder="{% trans 'Email address' %}">
                    <input class="center" type="password" name="password" id="id_password" required placeholder="{% trans 'Password' %}">
                    <button class="center" type="submit">{% trans 'Log in' %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}