{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block title %}{% trans 'Create your Drift Setup!' %}{% endblock %}
{% block body %}
<div class="post-header-container">
    <h1>{{ setup }}</h1>
    <div class="setup-create-container">
        <form class="setup-create-form" enctype="multipart/form-data" method="post" action="{% url 'setup_update' setup.slug %}">
            {% csrf_token %}
            <div class="setup-create-form-half">
                {{ form.non_field_errors }}
                <div class="setup-create-form-field">
                    <div class="setup-create-form-field-label">{% trans 'Car Build Name' %}</div>
                    {{ form.name }}
                    {{ form.name.errors }}
                </div>
                <div class="setup-create-form-field">
                    <div class="setup-create-form-field-label">{% trans 'Chassis' %}</div>
                    <div class="setup-create-form-car-selects">
                        <select name="car_brand" class="car-brand-select" required id="id_car_brand" data-url="{% url 'api_car_models_by_brand' %}">
                            <option value="{{ setup.car.get_car_brand.id }}" selected>{{ setup.car.get_car_brand }}</option>
                            {% for brand in car_brands %}
                                <option value="{{ brand.id }}">{{ brand.name }}</option>
                            {% endfor %}
                        </select>
                        <select name="car_model" class="car-model-select" required id="id_car_model" data-url="{% url 'api_car_sub_models_by_model' %}">
                            <option value="{{ setup.car.get_car_model.id }}" selected>{{ setup.car.get_car_model.name }}</option>
                        </select>
                        <select name="car_sub_model" class="car-sub-model-select" id="id_car_sub_model">
                            {% if setup.car.car_model %}
                                <option value="{{ setup.car.id }}" selected>{{ setup.car.name }}</option>
                            {% else %}
                                <option value="" disabled selected>{% trans 'Body' %}</option>
                            {% endif %}
                        </select>
                        {{ form.car_year }}
                        {{ form.car_year.errors }}
                    </div>
                </div>
                <div class="setup-create-form-field">
                    <div class="setup-create-form-field-label">{% trans 'Engine' %}</div>
                    {{ form.engine }}
                    {{ form.engine.errors }}
                </div>
                <div class="setup-create-form-ptrw">
                    <div class="setup-create-form-ptrw-left">
                        <div class="setup-create-form-ptrw-field">
                            <div class="setup-create-form-field-label">{% trans 'Power' %}, hp</div>
                            {{ form.power }}
                            {{ form.power.errors }}
                        </div>
                        <div class="setup-create-form-ptrw-field">
                            <div class="setup-create-form-field-label">{% trans 'Torque' %}, Nm</div>
                            {{ form.torque }}
                            {{ form.torque.errors }}
                        </div>
                    </div>
                    <div class="setup-create-form-ptrw-right">
                        <div class="setup-create-form-ptrw-field">
                            <div class="setup-create-form-field-label">{% trans 'Rev Limit' %}, rpm</div>
                            {{ form.rev_limit }}
                            {{ form.rev_limit.errors }}
                        </div>
                        <div class="setup-create-form-ptrw-field">
                            <div class="setup-create-form-field-label">{% trans 'Weight' %}, kg</div>
                            {{ form.weight }}
                            {{ form.weight.errors }}
                        </div>
                    </div>
                    <div class="setup-create-form-ptrw-left">
                        <div class="setup-create-form-ptrw-field">
                            <div class="setup-create-form-field-label">{% trans 'Boost' %}, Bar</div>
                            {{ form.boost }}
                            {{ form.boost.errors }}
                        </div>
                    </div>
                </div>
                <div class="setup-create-form-field">
                    <div class="setup-create-form-field-label">{% trans 'Weight Distribution (Front/Rear)' %}: <span id="rangeSliderOutput">50/50</span></div>
                    <div class="range-slide-container">
                        {{ form.weight_distribution }}
                    </div>
                    {{ form.weight_distribution.errors }}
                </div>
                <div class="setup-create-form-field">
                    <div class="setup-create-form-field-label">{% trans 'Your Car Build Story' %}</div>
                    {{ form.description }}
                    {{ form.description.errors }}
                </div>
                <h2>Engine</h2>
                {{ engine_fields_formset.management_form }}
                {% for form in engine_fields_formset %}
                    <div class="engine_fields-form-row">
                        {{ form }}
                        <div id="engine_fields" class="delete-form">&times;</div>
                    </div>
                {% endfor %}
                <div id="add-engine_fields" class="setup-create-form-add-field">{% trans '+ Add field' %}</div>
                <h2>Drivetrain</h2>
                {{ drivetrain_fields_formset.management_form }}
                {% for form in drivetrain_fields_formset %}
                    <div class="drivetrain_fields-form-row">
                        {{ form }}
                        <div id="drivetrain_fields" class="delete-form">&times;</div>
                    </div>
                {% endfor %}
                <div id="add-drivetrain_fields" class="setup-create-form-add-field">{% trans '+ Add field' %}</div>
                <h2>Steering/Suspension</h2>
                {{ suspension_fields_formset.management_form }}
                {% for form in suspension_fields_formset %}
                    <div class="suspension_fields-form-row">
                        {{ form }}
                        <div id="suspension_fields" class="delete-form">&times;</div>
                    </div>
                {% endfor %}
                <div id="add-suspension_fields" class="setup-create-form-add-field">{% trans '+ Add field' %}</div>
                <h2>Brakes</h2>
                {{ brakes_fields_formset.management_form }}
                {% for form in brakes_fields_formset %}
                    <div class="brakes_fields-form-row">
                        {{ form }}
                        <div id="brakes_fields" class="delete-form">&times;</div>
                    </div>
                {% endfor %}
                <div id="add-brakes_fields" class="setup-create-form-add-field">{% trans '+ Add field' %}</div>
                <h2>Wheels</h2>
                {{ wheels_fields_formset.management_form }}
                {% for form in wheels_fields_formset %}
                    <div class="wheels_fields-form-row">
                        {{ form }}
                        <div id="wheels_fields" class="delete-form">&times;</div>
                    </div>
                {% endfor %}
                <div id="add-wheels_fields" class="setup-create-form-add-field">{% trans '+ Add field' %}</div>
                <h2>Exterior</h2>
                {{ exterior_fields_formset.management_form }}
                {% for form in exterior_fields_formset %}
                    <div class="exterior_fields-form-row">
                        {{ form }}
                        <div id="exterior_fields" class="delete-form">&times;</div>
                    </div>
                {% endfor %}
                <div id="add-exterior_fields" class="setup-create-form-add-field">{% trans '+ Add field' %}</div>
                <h2>Interior</h2>
                {{ interior_fields_formset.management_form }}
                {% for form in interior_fields_formset %}
                    <div class="interior_fields-form-row">
                        {{ form }}
                        <div id="interior_fields" class="delete-form">&times;</div>
                    </div>
                {% endfor %}
                <div id="add-interior_fields" class="setup-create-form-add-field">{% trans '+ Add field' %}</div>
            </div>
            <div class="setup-create-form-half">
                <button class="setup-create-form-top-button" type="submit">{% trans 'Save Setup' %}</button>
                <div class="images-previews" style="display:block">
                    <div class="setup-create-form-field-label">{% trans 'Main Photo' %}</div>
                    {{ images_formset.management_form }}
                    {% for form in images_formset %}
                        <div class="image-box" id="setup-image">
                            <div class="image_fields-form-row">
                                {{ form }}
                            </div>
                            <img src="https://driftsetups.s3.amazonaws.com/media/{{ form.instance.image }}"/>
                            <div id="delete-id_{{ form.prefix }}" class="delete-image">×</div>
                            <div class="order-image-arrows">
                                <i class="order-image fa fa-arrow-up" aria-hidden="true"></i>
                                <i class="order-image fa fa-arrow-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <div id="add-image_fields" class="setup-create-form-add-image-container">
                    <div class="setup-create-form-add-image-container-text">{% trans '+ Add photo' %}</div>
                </div>
            </div>
            <button class="setup-create-form-bottom-button" type="submit">{% trans 'Save Setup' %}</button>
        </form>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/setup_create.js' %}"></script>
{% endblock %}