{% extends 'base.html' %}
{% load static %}
{% block title %}{{ setup }}{% endblock %}
{% block meta_description %}{{ setup.description|slice:':295' }}...{% endblock %}
{% block head %}
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ setup }} - DriftSetups"/>
    <meta property="og:description" content="{{ setup.description|slice:':300' }}..."/>
    <meta id="_mainEntityOfPage" itemprop="mainEntityOfPage" property="og:url" content="https://driftsetups.com{{ setup.get_absolute_url }}" />
    <meta property="og:site_name" content="DriftSetups" />
    {% for tag in setup.car.split_tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    <meta property="article:tag" content="{{ setup.engine }}" />
    <meta property="article:tag" content="drift" />
    <meta property="article:tag" content="Drifting" />
    <meta property="article:section" content="Car Setups" />
    <meta property="article:modified_time" content="{{ setup.timestamp }}" />
    <meta id="_dateModified" itemprop="dateModified" property="og:updated_time" content="{{ setup.timestamp }}" />
    <meta property="og:image" content="{{ setup.get_main_image }}" />
{% endblock %}
{% block body %}

        <a class="prev-setup-main-image" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next-setup-main-image" onclick="plusSlides(1)">&#10095;</a>
<div itemscope itemtype="http://schema.org/Article" itemref="_publisher _dateModified _mainEntityOfPage">
    <div class="setup-header-section">
        {% for image in setup.get_all_images %}
            <img itemprop="image" class="setup-main-image mySlides" id="sliderImage" src="{{ image }}" alt="{{ setup }} #{{ image.order }}">
        {% endfor %}
        <div class="setup-characteristics-section">
                <div class="round">
                    {% if setup.power %}
                    <div class="power">{{ setup.power }}hp</div>
                    {% else %}
                    <div class="power">----hp</div>
                    {% endif %}
                    <div class="char-title">Power</div>
                </div>
                <div class="round">
                    {% if setup.torque %}
                    <div class="torque">{{ setup.torque }}Nm</div>
                    {% else %}
                    <div class="torque">----Nm</div>
                    {% endif %}
                    <div class="char-title">Torque</div>
                </div>
                <div class="round">
                    {% if setup.rev_limit %}
                    <div class="rev-limit">{{ setup.rev_limit }}rpm</div>
                    {% else %}
                    <div class="rev-limit">----rpm</div>
                    {% endif %}
                    <div class="char-title">Rev Limit</div>
                </div>
                <div class="round">
                   {% if setup.weight %}
                    <div class="weight">{{ setup.weight }}kg</div>
                    {% else %}
                    <div class="weight">----kg</div>
                    {% endif %}
                    <div class="char-title">Weight</div>
                </div>
        </div>
    </div>
    <div class="container">
        <div class="setup-header-info">
                <div class="setup-header-info-left">
                    <div class="profile-avatar-div">
                        <img class="profile-avatar" src="{{ setup.creator.get_avatar }}">
                    </div>
                    <div class="setup-h1-container">
                        <h1 itemprop="headline" class="setup-h1">{{ setup }}</h1>
                        {% if user.is_authenticated and user == setup.creator %}
                            <div class="setup-edit-button"><a href="{% url 'setup_update' setup.slug %}">EDIT SETUP</a></div>
                        {% endif %}
                    </div>
                    <div class="setup-car-model-by">{{ setup.car}} by <span id="_author2" itemprop="author" itemscope itemtype="http://schema.org/Person">
    <span itemprop="name">{{ setup.creator }}</span></span> updated <span id="_datePublished3" itemprop="datePublished" content="{{ setup.timestamp|date:'c' }}">{{ setup.timestamp|date:"F Y" }}</span></div>
                    {% if setup.creator.city %}
                        <div class="setup-car-city">{{ setup.creator.city }}</div>
                    {% endif %}
                </div>
                <div class="setup-header-info-right">
                    <div class="setup-header-info-right-container">
                        <div class="setup-header-info-right-top">
                            <div class="setup-info-block">
                                <div class="setup-info-total">{{ setup.views }}</div>
                                <div class="setup-info-heading">Views</div>
                            </div>
                            <div class="setup-info-block">
                                <div class="setup-info-total"><div class="disqus-comment-count" data-disqus-identifier="{{ setup.slug }}"></div></div>
                                <div class="setup-info-heading">Comments</div>
                            </div>
                            <div class="setup-info-block">
                                <div class="setup-info-total">{{ setup.get_votes_total }}</div>
                                <div class="setup-info-heading">Votes</div>
                            </div>
                        </div>
                        <div class="setup-header-info-right-bottom">
                            <div class="votes-bar-container">
                                {% if user.is_authenticated %}
                                    <div id="vote-down" class="vote-down" data-vote-down="{% url 'setup_vote_down' setup.slug %}"></div>
                                    <div id="vote-up" class="vote-up" data-vote-up="{% url 'setup_vote_up' setup.slug %}"></div>
                                {% else %}
                                    <div id="vote-login-up" class="vote-down"></div>
                                    <div id="vote-login-down" class="vote-up"></div>
                                {% endif %}
                                <div class="votes-bar">
                                    <div class="votes-bar-total" style="width:{{ setup.get_votes_percentage }}%"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>

        <div class="two-col">
            <div id="social-repost" class="two-col-right">
                <div class="social-repost">
                    <div class="facebook"></div>
                    <div class="twitter"></div>
                    <div class="vkontakte"></div>
                </div>
            </div>
            <div class="two-col-left">
                <div class="setup-details-section">
                    {% if setup.description %}
                    <div class="setup-description-section">
                        <h2 id="_articleSection1" itemprop="articleSection">Car Story</h2>
                        <div id="_articleBody1" itemprop="articleBody" class="setup-description more">{{ setup.description|linebreaks }}</div>
                    </div>
                    {% endif %}

                    <div class="setup-engine-section">
                        <h2 id="_articleSection2" itemprop="articleSection" class="engine-model">Engine: {{ setup.engine }}</h2>
                    {% if setup.get_engine_fields %}
                        <div class="engine">
                            <ul id="_articleBody2" itemprop="articleBody">
                            {% for engine_field in setup.get_engine_fields %}
                                <li>{{ engine_field }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    {% endif %}
                    </div>
                    {% if setup.get_drivetrain_fields %}
                    <div class="setup-drivetrain-section">
                        <h2 id="_articleSection3" itemprop="articleSection">Drivetrain</h2>
                        <div class="drivetrain">
                            <ul id="_articleBody3" itemprop="articleBody">
                            {% for drivetrain_field in setup.get_drivetrain_fields %}
                                <li>{{ drivetrain_field }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if setup.get_suspension_fields %}
                    <div class="setup-suspension-section">
                        <h2 id="_articleSection4" itemprop="articleSection">Suspension</h2>
                        <div class="suspension">
                            <ul id="_articleBody4" itemprop="articleBody" >
                            {% for suspension_field in setup.get_suspension_fields %}
                                <li>{{ suspension_field }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if setup.get_brakes_fields %}
                    <div class="setup-brakes-section">
                        <h2 id="_articleSection5" itemprop="articleSection">Brakes</h2>
                        <div class="brakes">
                            <ul id="_articleBody5" itemprop="articleBody">
                            {% for brakes_field in setup.get_brakes_fields %}
                                <li>{{ brakes_field }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if setup.get_wheels_fields %}
                    <div class="setup-wheels-section">
                        <h2 id="_articleSection6" itemprop="articleSection">Wheels</h2>
                        <div class="wheels">
                            <ul id="_articleBody6" itemprop="articleBody">
                            {% for wheels_field in setup.get_wheels_fields %}
                                <li>{{ wheels_field }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if setup.get_exterior_fields %}
                    <div class="setup-exterior-section">
                        <h2 id="_articleSection7" itemprop="articleSection">Exterior</h2>
                        <div class="exterior">
                            <ul id="_articleBody7" itemprop="articleBody">
                            {% for exterior_field in setup.get_exterior_fields %}
                                <li>{{ exterior_field }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                    {% if setup.get_interior_fields %}
                    <div class="setup-interior-section">
                        <h2 id="_articleSection8" itemprop="articleSection">Interior</h2>
                        <div class="interior">
                            <ul id="_articleBody8" itemprop="articleBody">
                            {% for interior_field in setup.get_interior_fields %}
                                <li>{{ interior_field }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="setup-comments">
                    <div id="disqus_thread"></div>
                        <script>

                        /**
                        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/

                        var disqus_config = function () {
                        this.page.url = 'https://driftsetups.com/{% url "setup_detail" setup.slug %}';
                        this.page.identifier = '{{ setup.slug }}';
                        };

                        (function() { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://driftsetups-com.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                        })();
                        </script>
                        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

{% endblock %}
{% block scripts %}
    <script src="{% static 'js/setup_detail.js' %}"></script>
    <script id="dsq-count-scr" src="//driftsetups-com.disqus.com/count.js" async></script>
{% endblock %}