{% extends 'base.html' %}
{% load static %}
{% block title %}
    {{ profile.get_full_name }}
{% endblock %}
{% block body %}
<div class="post-header-container">
    <div class="container">
        <div class="setup-header-info">
            <div class="setup-header-info-left">
                <div class="profile-avatar-div">
                    <img class="profile-avatar" src="{{ profile.get_avatar }}">
                </div>
                <div class="profile-avatar-right">
                    <div class="setup-h1-container">
                        <h1 itemprop="headline" class="setup-h1">{{ profile.get_full_name }}</h1>
                    </div>
                    {% if profile.city %}
                        <div class="setup-car-city">{{ profile.city }}</div>
                    {% endif %}
                </div>
            </div>
            <div class="setup-header-info-right">
                <div class="profile-social-repost">
                    <div class="twitter"></div>
                    <div class="vkontakte"></div>
                    <div class="facebook"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="setup-list-container">
        {% if setups %}
        <ul class="setup-list">
            {% for setup in setups %}
                <li class="setup-list-item">
                    <div class="setup-list-item-image-container">
                        <a href="{% url 'setup_detail' setup.slug %}">
                            <img width="300px" src="{{ setup.get_main_image }}" alt="{{ setup }}">
                        </a>
                    </div>

                    <div class="setup-list-item-heading-container">
                        <a href="{% url 'setup_detail' setup.slug %}">
                            <h2>{{ setup }}</h2>
                        </a>
                        <div>
                            <a href="{{ setup.car.get_absolute_url }}">{{ setup.car}}</a>
                            by {{ setup.creator }} updated {{ setup.timestamp|date:"F Y" }}
                        </div>
                        <div class="setup-characteristics-section">
                            <div class="round">
                                {% if setup.power %}
                                <div class="power">{{ setup.power }}hp</div>
                                {% else %}
                                <div class="power">----hp</div>
                                {% endif %}
                                <div class="char-title">Power</div>
                            </div>
                            <div class="round">
                                {% if setup.torque %}
                                <div class="torque">{{ setup.torque }}Nm</div>
                                {% else %}
                                <div class="torque">----Nm</div>
                                {% endif %}
                                <div class="char-title">Torque</div>
                            </div>
                            <div class="round">
                                {% if setup.rev_limit %}
                                <div class="rev-limit">{{ setup.rev_limit }}rpm</div>
                                {% else %}
                                <div class="rev-limit">----rpm</div>
                                {% endif %}
                                <div class="char-title">Rev Limit</div>
                            </div>
                            <div class="round">
                               {% if setup.weight %}
                                <div class="weight">{{ setup.weight }}kg</div>
                                {% else %}
                                <div class="weight">----kg</div>
                                {% endif %}
                                <div class="char-title">Weight</div>
                            </div>
                        </div>
                    </div>
                    <div class="setup-list-item-votes-container">
                        <div class="setup-info-total"><span>votes:</span> {{ setup.get_votes_total }}</div>
                        <div class="votes-bar">
                            <div class="votes-bar-total" style="width:{{ setup.get_votes_percentage }}%"></div>
                        </div>
                        <div class="setup-info-total"><span>views:</span> {{ setup.views }}</div>
                    </div>
                </li>
            {% endfor %}
        </ul>
        {% else %}
            {% if user == profile %}
            <h2 class="no-setups">Do you have a drift car? <a href="{% url 'setup_create' %}">Share it to DriftSetups society!</a></h2>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script src="{% static 'js/setup_detail.js' %}"></script>
{% endblock %}