body {
    color: #000;
    background-color: #000;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
footer {
    display: block;
    margin-top: 20px;
}
h1, h2, h3 {
    font-family: Oswald;
    font-weight: 600;
    text-transform: uppercase;
}
a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
a:active {
    color: inherit;
}
li {
    list-style: none;
}
header {
    /*top: -50px;*/
    z-index: 1;
    position: fixed;
    width:100%;
    display: inline-block;
    background: rgba(0,0,0,0.8);
}
nav {
    width:1125px;
    margin:auto;
    color: #fff;
    font-family: Oswald;
    text-transform: uppercase;
}
button {
    cursor: pointer;
}
.nav-left{
    float:left;
    margin-left: 20px;
    line-height: 70px;
    width: calc(40% - 20px);
}
.nav-left li {
    float:left;
    height:70px;
}
.logo {
    font-family: Oswald;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    margin-right:20px;
}
.menu-icon {
    display: none;
}
.nav-right{
    float:right;
    padding: 0px;
    font-size: 15px;
    width: 60%;
}
.nav-right li {
    float: left;
    padding: 0 15px;
    transition: transform .2s;
    line-height: 70px;
    font-size: 13px;
}
.nav-right li:hover {
    transform: translate(5px) scale(1.2);
}
.menu-close {
    display: none;
    float: right;
    font-size: 50px;
    padding: 0 20px;
}
.heart {
    color: rgba(211, 74, 66, 1);
}
.coming {
    color: #8e8e8e;
    transition: none !important;
    cursor: not-allowed;
}
.coming:hover {
    transform: none !important;
}
.search-container {
    background-color: #cecece2e;
    padding-top:0px !important;
    padding-bottom: 0px !important;
    padding-left:0px !important;
    padding-right:20px;
    width: calc(100% - 205px);
}
.search-container form {
    line-height: 69.5px;
}
.search-container button {
    float: right;
    background: inherit;
    border: none;
    cursor: pointer;
    font-size: inherit;
    color: inherit;
    transition: transform .2s;
    padding: 22px 0px;
}
.search-container input {
    font-size: 18px;
    border: none;
    background-color: inherit;
    height: 70px;
    padding-left: 20px;
    padding-top:0;
    padding-bottom:0;
    width:calc(100% - 40px);
}
.search-container input::-webkit-input-placeholder {color:#fff;}
.search-container input::-moz-placeholder {color:#fff;}
.search-container input:-moz-placeholder {color:#fff;}
.search-container input:-ms-input-placeholder {color:#fff;}

.search-container input:focus {
    outline-width: 0;
    color: #fff;
}

.search-container button:hover {
    transform: scale(1.5);
}
.in_dev {
    color: #cecece;
    transform: none !important;
}
.no-setups {
    margin: 40px 0px;
}
.no-setups a {
    border-bottom: 3px solid #d34a42;
    display: inline-block;
    transition: transform .2s;
}
.no-setups a:hover {
    transform: scale(1.1);
}

.setup-create {
    background-color: rgba(211, 74, 66, 0.8);
}
#sign-up, #login {
    cursor: pointer;
}
#sign-up:hover, #login:hover {
    cursor: pointer;
}
.small-avatar {
    border-radius: 50%;
    margin: 8px 0px;
    height: 50px;
    width: 50px;
    display: block;
    border: 2px solid #d34a42;
    z-index: 2;
}
.dropdown {
    float: left;
    line-height: 50px;
    padding: 0px 20px !important;
    position: relative;
    display: inline-block;
    z-index: 2;
}

.dropdown .dropbtn {
    background-color: inherit;
    color: white;
    font-size: 16px;
    border: none;
    z-index: 2;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
}

.dropdown-content a {
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 2;
    font-size: 12px;
}

.dropdown:hover .dropdown-content {
    display: block;
    padding: 0px 20px;
    margin-top: -6px;
    z-index: 2;
    margin-left: -10px;
}

.container, footer, .post-header-container {
    width: 1085px;
    margin:auto;
    background-color: #fff;
    padding: 20px;
    overflow: hidden;
}
.markup-container {
    position: relative;
    top: 70px;
}
.post-header-container {
    padding-top: 70px;
}
.home-h1{
    font-size: 1.9em;
}
.top-weekly-setups,
.top_setups_by_views{
    width:50%;
    float:left;
}
.top-weekly-setups .setup-list-item-image-container,
.top_setups_by_views .setup-list-item-image-container{
    width: 150px;
}
.top-weekly-setups .setup-list-item-image-container a,
.top_setups_by_views .setup-list-item-image-container a{
    height: 100px;
}
.top-weekly-setups .setup-list-item-heading-container,
.top_setups_by_views .setup-list-item-heading-container{
    width: calc(100% - 255px);
}
.top-weekly-setups .setup-list-item-heading-container .round .power,
.top-weekly-setups .setup-list-item-heading-container .round .torque,
.top-weekly-setups .setup-list-item-heading-container .round .rev-limit,
.top-weekly-setups .setup-list-item-heading-container .round .weight,
.top_setups_by_views .setup-list-item-heading-container .round .power,
.top_setups_by_views .setup-list-item-heading-container .round .torque,
.top_setups_by_views .setup-list-item-heading-container .round .rev-limit,
.top_setups_by_views .setup-list-item-heading-container .round .weight{
    font-size: 17px;
    padding: 0;
}
.top-weekly-setups .setup-list-item-heading-container .round .char-title,
.top_setups_by_views .setup-list-item-heading-container .round .char-title{
    font-size: 12px;
    padding: 0;
    margin-top: 6px;
}
.top-weekly-setups .round .power,
.top-weekly-setups .round .torque,
.top-weekly-setups .round .rev-limit,
.top-weekly-setups .round .weight,
.top_setups_by_views .round .power,
.top_setups_by_views .round .torque,
.top_setups_by_views .round .rev-limit,
.top_setups_by_views .round .weight{
    text-shadow: -1px 0px #d34a42, 2px -2px #d34a42, -2px 2px #d34a42, -3px 3px #d34a42, -4px 4px #d34a42,
    -5px 5px #d34a42, -6px 6px #d34a42
}

.bottom-top-cars {
    margin-top:20px;
    border-top: 1px solid #cecece;
}
.bottom-top-cars ul{
    column-count: 7;
    column-gap: 0;
    -webkit-column-count: 8;
    -webkit-column-gap: 0;
    font-size: 12px;
    padding: 0;
    margin: 0 20px;

}
.pagination li {
    float: left;
    margin: 10px;
}
.pagination .active {
    font-weight: 800;
}

.setup-header-section {
    z-index: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 600px;
}
.setup-main-image {
    width: 100%;
    position: absolute;
    top: calc(calc(100% - 600px)/2);
}
.mySlides {
    display: none;
}
#sliderImage {
    cursor: pointer;
}
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 50px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.setup-characteristics-section {
    width: 1125px;
    left: calc((100% - 1125px) / 2);
    bottom: 0px;
    margin: auto;
    overflow: hidden;
    position: absolute;
    color: #fff;
    background-color: rgba(0,0,0,0.75);
    z-index: 4;
}
.round {
    float:left;
    width: calc(100% / 6);
    margin-bottom: 25px;
    text-align: center;
}
.round .power, .round .torque, .round .rev-limit, .round .weight{
    padding: 25px 0px;
    font-size: 32px;
    color: #fff;
    font-family: Oswald;
    font-style: italic;
    font-weight: bold;
    text-shadow: -1px 0px #d34a42, 2px -2px #d34a42, -2px 2px #d34a42, -3px 3px #d34a42, -4px 4px #d34a42,
    -5px 5px #d34a42, -6px 6px #d34a42;
}
.round .char-title {
    border-top: 3px solid #ffffff2f;
    width: 31%;
    padding-top:5px;
    margin: auto;
}
.setup-header-info {
    width:100%;
    margin: 20px 0px;
    overflow: hidden;
}
.setup-header-info-left {
    width: 70%;
    float:left;
}
.setup-header-info-left .profile-avatar-div{
    border: 3px solid #d34a42;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    float: left;
}
.setup-header-info-left .profile-avatar{
    height: 100px;
}
.profile-avatar-right {
    width: calc(100% - 126px);
    float: left;
    margin-left: 20px;
}
.setup-h1-container {
    width: calc(100% - 126px);
    display: block;
}
.setup-h1 {
    margin: 0;
    float:left;
}
.setup-edit-button {
    margin: 0;
    cursor: pointer;
    display: block;
    width: 100%;
}
.setup-edit-button a {
    border-bottom: 1px solid #d34a42;
}
.setup-car-model-by {
    margin-left: 0;
    margin-top:5px;
    float:left
}
.setup-car-city {
    float: left;
    width: 100%;
    margin-top: 10px;
}
.setup-header-info-right {
    width:30%;
    float:right;
}
.setup-header-info-right-container {
    float:right;
}
.setup-header-info-right-top {
    overflow: hidden;
}
.setup-info-heading {

}
.setup-info-block {
    float:left;
    margin: 0px 10px;
    text-align: center;
    width: calc((100% / 3) - 20px);
}
.setup-views{

}
.setup-info-total{
    font-size: 2em;
    color: #d34a42;
    font-family: Oswald;
    font-weight: 600;
    font-style: italic;
}
.setup-header-info-right-bottom {
    margin-top: 10px;
}
.vote-up:before {
    background-image: url('/media/vote-up.png');
    -webkit-background-size: 28px;
    background-size: 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
    content: "";
}
.vote-down:before{
    background-image: url('/media/vote-down.png');
    -webkit-background-size: 28px;
    background-size: 28px;
    display: inline-block;
    width: 28px;
    height: 28px;
    content: "";
}
.votes-bar-container {
    overflow: hidden;
}
.votes-bar-container div{
    float:left;
}
.vote-down, .vote-up {
    cursor:pointer;
}
.votes-bar, .detail-votes-bar {
    width: 164px;
    height: 20px;
    background-color: #d34a42;
    border-radius: 2px;
    margin: 4px 5px;
}
.votes-bar-total {
    background-color: #67b735;
    height: 20px;
}
.two-col {
    width:100%;
    overflow: hidden
}
.two-col-right {
    width:21%;
    float:right;
}
.two-col-left {
    width:79%;
    float:left;
}
.social-repost, .profile-social-repost {
    overflow: hidden;
}
.profile-social-repost {
   margin-right: 40px;
}
.social-repost div,
.profile-social-repost div {
    margin:10px auto;
    -webkit-background-size: 32px;
    background-size: 32px;
    width: 32px;
    height: 32px;
    content: "";
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    border-radius:50%;
    cursor:pointer;
}
.profile-social-repost div{
    float: right;
    margin:10px 5px;
}
.facebook {
    background-image: url('/media/facebook.png');
}
.twitter {
    background-image: url('/media/twitter.png');
}
.vkontakte {
    background-image: url('/media/vkontakte.png');
}
.setup-details-section {
    width: calc(100% - 126px);
    margin-left: 126px;
}
.setup-description-section h2 {
    margin-top: 0;
}
.morecontent span, .setup-description-section p + p {
	display: none;
}
.morelink {
    font-weight: bold;
    border-bottom: 1px solid #d34a42;
}
.setup-details-section li{
    list-style-image: url('/media/setup-list.png');
}
.setup-comments {
    margin: 20px 0px 20px 126px;
}

/* Setup List*/
.setup-list {
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.setup-list-item {
    width: 100%;
    overflow: hidden;
    margin: 20px 0;
    transition: transform .2s;
}
.setup-list-item:hover {
    transform: scale(1.01);
}
.setup-list-item-image-container {
    width: 300px;
    float: left;
}
.setup-list-item-image-container a {
    display: block;
    overflow: hidden;
    height: 200px;
}
.setup-list-item-heading-container {
    width: calc(100% - 510px);
    float: left;
    margin: 0 20px;
}
.setup-list-item-heading-container h3{
    font-size: 1.5em;
    margin: 0;
}
.setup-list-item-heading-container .setup-characteristics-section {
    width: 100%;
    position: inherit;
    color: #000;
    background-color: inherit;
}
.setup-list-item-heading-container .round {
    margin-bottom: 2px;
    width: calc(100% / 4) !important;
}
.setup-list-item-heading-container .round .power,
.setup-list-item-heading-container .round .torque,
.setup-list-item-heading-container .round .rev-limit,
.setup-list-item-heading-container .round .weight {
    font-size: 20px;
}
.setup-list-item-heading-container .char-title {
    font-size: 15px;
}
.setup-list-item-votes-container {
    width: 170px;
    float:left;
}
.setup-list-item-votes-container .setup-info-total{
    text-align: center;
    font-size: 21px;
}
.setup-list-item-votes-container .setup-info-total span{
    color: #000;
    font-size: 18px;
}
/*End Setup List*/

/*Car List*/

.car-list ul{
    column-count:4;
}
.car-list li{
    font-size: 20px;
}

/*End Car List*/

/*Setup Create*/
.setup-create-container {
    width:100%;
}
.setup-create-form-half {
    width:calc(50% - 20px);
    margin: 0 10px;
    float:left;
    text-align: left;
}
.setup-create-form-field,
.setup-create-form-ptrw,
.setup-create-form-ptrw-field {
    margin: 10px 0;
}
.setup-create-car-request-text {
    display:inline-block;
    margin:5px 0;
    font-size:14px;
    width:100%
}
.setup-create-form-car-selects {
    width: 100%;
    overflow: hidden;
    text-align: center;
}
.setup-create-form-car-selects select{
    width: calc(25% - 15px) !important;
    float:left;
    margin-right: 20px;
}
.setup-create-form-car-selects select:last-of-type{
    margin-right: 0;
}
.setup-create-form-ptrw {
    width: 100%;
    overflow: hidden;
}
.setup-create-form-ptrw-left {
    width: calc(50% - 5px);
    float:left;
}
.setup-create-form-ptrw-right {
    margin-left: 10px;
    width: calc(50% - 5px);
    float:right;
}
.setup-create-form-ptrw-field {
    width: 100%;
    float:left;
}
.setup-create-form-field-label {
    float:left;
    margin-bottom: 5px;
}
.setup-create-form input, select{
    width: calc(100% - 32px);
    line-height: 30px;
    font-size: 18px;
    padding: 5px 15px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border: 1px solid #cecece;
}
.setup-create-form input::-webkit-input-placeholder {color: #c0c0c0;}
.setup-create-form input::-moz-placeholder {color:#c0c0c0;}
.setup-create-form input:-moz-placeholder {color:#c0c0c0;}
.setup-create-form input:-ms-input-placeholder {color:#c0c0c0;}

.setup-create-form select{
    width: 100%;
    height: 42px;
}
div[class*='_fields-form-row'] input{
    margin-bottom: 20px;
    width: calc(100% - 70px);
    float:left;
}
div[class*='_fields-form-row'] input:last-of-type{
    margin-bottom: 0;
}
.delete-form,
.image-box .delete-image{
    float: right;
    font-size: 29px;
    text-align: center;
    padding: 4px 10px;
    color: #c0c0c0;
    cursor: pointer;
}
.image-box .delete-image{
    width: 40px;
    padding: 4px 0;
}

.delete-form:hover,
.image-box .delete-image:hover {
    color: #000;
}
.setup-create-form .ptrw-input{
}
.setup-create-form .description-textarea{
    width: calc(100% - 32px);
    font-size:16px;
    -webkit-border-radius:2px;
    -moz-border-radius:2px;
    border-radius:2px;
    border: 1px solid #cecece;
    padding: 11px 15px;
}
.setup-create-form-add-field {
    float: left;
    width: calc(100% - 40px);
    font-size: 17px;
    color: #d34a42;
    margin: 0 auto 20px auto;
    border: 1px solid #d34a4240;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}
.setup-create-form .setup-create-form-top-button,
.setup-create-form .setup-create-form-bottom-button {
    width: calc(100% - 20px);
    font-size: 1.5em;
    font-family: Oswald;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    background-color: #d34a42;
    border: none;
}
.setup-create-form-bottom-button {
    margin: 30px 10px 0 10px;
    padding: 15px;
}
.setup-create-form-top-button {
    margin: 33px 10px 0 10px;
    padding: 6px;
    font-size: 20px !important;
}
.setup-create-form-add-image-container {
    border: 1px dashed #d34a42;
    margin: 60px auto 0 auto;
    overflow: hidden;
    width: calc(100% - 20px);
    display: block;
    padding: 8px 0;
    background-color: #d34a4240;
    border-radius: 2px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 0 #d34a42, -1px 1px 0 #d34a42, 1px -1px 0 #d34a42, -1px -1px 0 #d34a42,
    0px 1px 0 #d34a42, 0px -1px 0 #d34a42, -1px 0px 0 #d34a42, 1px 0px 0 #d34a42, 2px 2px 0 #d34a42,
    -2px 2px 0 #d34a42, 2px -2px 0 #d34a42, -2px -2px 0 #d34a42, 0px 2px 0 #d34a42, 0px -2px 0 #d34a42,
    -2px 0px 0 #d34a42, 2px 0px 0 #d34a42, 1px 2px 0 #d34a42, -1px 2px 0 #d34a42, 1px -2px 0 #d34a42,
    -1px -2px 0 #d34a42, 2px 1px 0 #d34a42, -2px 1px 0 #d34a42, 2px -1px 0 #d34a42, -2px -1px 0 #d34a42;
    font-size: 20px;
    cursor: pointer;
}
input[name*='image_fields-'],
label[for*='id_image_fields-'] {
    display: none;
}
.images-previews {
    width: calc(100% - 20px);
    overflow: hidden;
    margin: 10px 10px 0 10px;
    display:none;
}
.image-box {
    width:100%;
    margin-bottom: 20px;
    overflow: hidden;
}
.image-box:nth-of-type(2) {
    width: calc(100% - 4px);
    border: 1px solid #d34a42;
}
.image-box:nth-of-type(2) .fa-arrow-up{
    display: none;
}
.image-box:nth-of-type(2) .fa-arrow-down{
    margin-top: 18px;
}
.image-box:last-of-type .fa-arrow-down{
    display: none;
}
.image-box img {
    width: calc(100% - 40px);
    float:left;
}
.order-image-arrows {
    margin-top: 25%;
}
.image-box i {
    display: block;
    float: right;
    width: 40px;
    text-align: center;
    color: #c0c0c0;
    cursor: pointer;
}
.image-box i:hover {
    color: #000;
}
.image-box i:first-of-type {
    margin-bottom: 20px;
}

/*End Setup Create*/



.popup-background {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.75); /* Black w/ opacity */
}
.popup-login-content, .popup-sign-up-content {
    display: none;
    left: 35%;
    top: 25%;
    background-color: #fefefe;
    margin: auto;
    padding: 30px 30px 50px 30px;
    border: 1px solid #888;
    width: 30%;
    position: fixed;
    z-index: 2;
}
/* The Close Button */
.popup-close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    line-height: 12px;
}

.popup-close:hover,
.popup-close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.popup-sign-up-choice {
    margin-top: 20px;
}
.sign-up-with-email {
    cursor: pointer;
    width:100%;
    background-color: #d34a42;
    border:1px solid rgba(0, 0, 0, 0);
    color: #fff;
}
.sign-up-with-email-form{
    display:none;
    width:100%;
}
.sign-up-with-email-form a{
    color: #d34a42;
    text-decoration: underline;
}
.sign-up-with-email-form input,
.sign-up-with-email-form button,
.login-form input,
.login-form button,
.sign-up-with-email {
    font-size: 20px;
    margin: 5px 0px;
    padding: 10px;
    font-weight: 200;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.sign-up-with-email-form input,
.login-form input {
    width: calc(100% - 22px);
    text-align: left;
    border: 1px solid #cecece;
}
.sign-up-with-email-form button,
.login-form button {
    text-align: center;
    color: #fff;
    background-color: #d34a42;
    cursor: pointer;
    border:1px solid rgba(0, 0, 0, 0);
}
.facebook-signup,
.google-signup,
.sign-up-with-email {
    font-size: 20px;
    margin: 10px 0px;
    padding: 10px 0px;
    font-weight: 200;
    line-height: 28px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    width: calc(100% - 24px);
}
.facebook-signup,
.google-signup {
    border: 1px solid #cecece;
}
.facebook-signup {
    color: #fff;
    background-color: #475993;
}
.facebook-signup a, .google-signup a {
    width:100%;
}
.google-signup .google-signup-text, .facebook-signup .facebook-signup-text{
    width: 50%;
    float: right;
    margin-right: 25%;
}
.google-signup .google-signup-icon, .facebook-signup .facebook-signup-icon{
    -webkit-background-size: 28px;
    background-size: 28px;
    width: 28px;
    height: 28px;
    content: "";
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    cursor:pointer;
    display: inline-block;
}
.google-signup .google-signup-icon{
    background-image: url('/media/google.png');
}
.facebook-signup .facebook-signup-icon{
    background-image: url('/media/facebook.png');
    background-color: #fff;

}
.login-container {
    width: 40%;
    text-align: center;
    margin: auto auto 70px auto;
    position: relative;
    background-color: #fff;
    top: 70px;
}
.login-button, .register-button{
    cursor: pointer;
}
.copyright {
    font-family: Oswald;
}
.sticky {
    position: fixed;
    top: 200px;
    float: right;
    width: calc(1085px * 0.21);
    right: calc((100% - 1085px) / 2);
}
.center {
    width:100%;
    text-align: center;
    display: inline-block;
}

/* Next & previous buttons */
.prev-setup-main-image, .next-setup-main-image {
  cursor: pointer;
  position: absolute;
  top: 255px;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  z-index: 2;
}

/* Position the "next button" to the right */
.next-setup-main-image {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev-setup-main-image:hover, .next-setup-main-image:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Loader */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #d34a42;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    display: none;
    position: fixed;
    z-index: 2;
    margin: auto
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-top {
    position:relative;
    animation:animatetop 0.4s
}
@keyframes animatetop {
    from{
        top:-300px;opacity:0
    } to{
        top:0;opacity:1
    }
}

.patreon {
    position: relative;
    height: 50px;
    background-color: rgb(186, 100, 96);
}
.patreon-container {
    margin: auto;
    width: 1085px;
    text-align: right;
    color: #fff;
    font-size: 17px;
    padding: 0 20px;
}
.patreon-text {
    width: calc(100% - 40px);
    padding: 12.5px 0;
    float: left;
}
.patreon-close {
    float: right;
    font-size: 34px;
    width: 20px;
    padding: 5px 0;
    cursor: pointer;
}
.patreon span{
    float:left;
}
.patreon a {
    padding: 7px 14px;
    border: 2px solid #fff;
    text-transform: uppercase;
    margin: 0 20px;
    border-radius: 2px;
    font-family: Oswald;
}

.range-slider-container {
    width: 100%;
}
.range-slider {
    -webkit-appearance: none;
    width: 100% !important;
    height: 25px;
    background: #f1f1f1;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    padding: 0 !important;

}
.range-slider:hover {
    opacity: 1;
}
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #d34a42;
    cursor: pointer;
}
.range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #d34a42;
    cursor: pointer;
}


@media (max-width: 767px) {
    header {
        position: initial;
    }
    .nav-left {
        margin-left: 0;
        width: calc(100% - 20px);
    }
    .logo {
        margin-left: 20px;
    }
    .menu-icon {
        display: block;
        float: right !important;
        font-size: 20px;
    }
    .nav-right {
        display: none;
        position: fixed;
        background: #000;
        height: 100%;
    }
    .nav-right li {
        width: 100%;
        text-align: center;
        padding: 0 !important;
    }
    .nav-right .small-avatar {
        margin: auto !important;
    }
    .setup-header-section {
        height: auto;
        position: initial;
    }
    .setup-main-image {
        width: 100%;
        position: initial;
        bottom: auto;
    }
    .container, footer, .post-header-container {
        width: calc(100% - 40px);
        margin:auto;
        background-color: #fff;
        padding: 20px;
        overflow: hidden;
    }
    .patreon-container {
        margin: auto;
        width: calc(100% - 40px);
        text-align: right;
        color: #fff;
        font-size: 17px;
        padding: 0 20px;
    }
    .setup-characteristics-section {
        width: 100%;
        left: auto;
        bottom: auto;
        margin: auto;
        overflow: hidden;
        position: initial;
        color: #fff;
        background-color: rgba(0,0,0,0.75);
        z-index: 4;
    }
    .round {
        width: calc(100% / 3);
        padding: 10px 0;
        margin: 0;
    }
    .power, .torque, .rev-limit, .weight {
        font-size: 24px !important;
        padding: 5px 0 25px 0 !important;
    }
    nav {
        width: 100%;
        margin:auto;
        color: #fff;
        font-family: Oswald;
        text-transform: uppercase;
    }
    .sticky {
        position: fixed;
        top: 200px;
        float: right;
        width: calc(100% * 0.21);
        right: 50%;
    }
    .nav-right li {
        padding: 22px 18px;
    }
    .setup-create {
        width: calc(40% - 40px);
        text-align: center;
        padding: 22px 21px !important;
    }
    .search-container {
        width: 100%;
    }
    #searchform input{
        width: calc(90% - 20px);
    }
    .setup-header-info-left {
        width: 30%;
    }
    .setup-header-info-right {
        width: 70%;
    }
    .profile-avatar-right {
        width: 330%;
        margin-left: 0;
        margin-top: 50px;
    }
    .setup-h1-container {
        width: 100%;
    }
    .social-repost {
        display: none;
    }
    .two-col-left {
        width: 100%;
    }
    .two-col-left div{
        width: 100%;
        margin-left: 0;
    }
    .setup-list-item-image-container {
        width: 100%;
        float: none;
    }
    .setup-list-item-image-container a img {
        width: 100%;
        float: none;
    }
    .setup-list-item-heading-container {
        width: auto;
        float: none;
        margin: 0;
    }
    .setup-list-item-votes-container {
        width: 100%;
        float: right;
    }
    .votes-bar {
        width: 100%;
    }
    .detail-votes-bar {
        width: 70%;
    }
    .setup-info-total {
        margin-right: 20px;
        text-align: right !important;
        font-size: 25px;
    }
    .top_setups_by_views,
    .top-weekly-setups,
    .setup-list-item-image-container,
    .setup-list-item-heading-container {
        width: 100% !important;
    }
    .setup-list-item-image-container a,
    .setup-list-item-image-container a {
        height: auto !important;
    }
    .setup-list-item-image-container a img,
    .setup-list-item-image-container a img {
        width: 100%;
    }
    .setup-create-form-half {
        width:100%;
        float: none;
    }
    .setup-create-form-field select,
    .setup-create-form-field input{
        width: calc(100% - 20px) !important;
        margin: 10px 0;
        padding: 5px 0;
    }
    .setup-create-form-car-selects select:last-of-type{
        margin-left: 0;
    }
    .setup-create-form .description-textarea {
        padding: 11px 5px;
    }
    .setup-create-form-top-button {
        display: none;
    }
    .setup-create-form-add-image-container {
        margin: 0;
    }
    .engine_fields-form-row,
    .drivetrain_fields-form-row,
    .suspension_fields-form-row,
    .brakes_fields-form-row,
    .wheels_fields-form-row,
    .exterior_fields-form-row,
    .interior_fields-form-row{
        width: calc(100% - 40px) !important;
         margin: 10px 0;
        padding: 5px 0;
    }
    .setup-create-form h2{
        overflow: hidden;
    float: none;
    width: 100%;
    }
}